<h1>Welcome To Nima</h1>

<%= link_to "Sign Up", "users/sign_up", :class => "btn btn-primary"%>
<%= link_to "Sign In", "users/sign_in", :class => "btn btn-primary"%>
<button type="button" class="btn btn-primary">Primary</button>


<button type="button" class="btn btn-danger">Large button</button>


<% Hotel.all.each do |hotel| %>
  <div class="card bottom-three" style="width: 18rem;">
  <img src="/images/hotel1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= hotel.description %></h5>
    <p class="card-text"><%= hotel.description %></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<% end %>

<style>
  .bottom-three {
     margin-bottom: 3cm;
	 margin-top: 3cm;
  }
</style>